.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand {
    font-size: 1.1rem;
}

.oi {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type {
        padding-top: 1rem;
    }

    .nav-item:last-of-type {
        padding-bottom: 1rem;
    }

    .nav-item ::deep a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item ::deep a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item ::deep a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}

::deep .dropdown-menu-dark {
    background-color: rgba(255, 255, 255, 0.1); /* Transparência moderna */
    border: none;
    margin-left: 1rem;
    padding-left: 0.5rem;
}

::deep .dropdown-item {
    color: rgba(255,255,255,0.8) !important;
    font-size: 0.9rem;
}

    ::deep .dropdown-item:hover {
        background-color: rgba(25, 135, 84, 0.5); /* Verde semitransparente */
        color: white !important;
    }

/* Remove a borda azul feia do botão ao clicar */
::deep .btn:focus {
    box-shadow: none;
}

/* Cria uma área contínua para o mouse não "cair" no vazio */
.nav-item-dropdown-container {
    position: relative;
    padding-bottom: 5px; /* "Ponte" invisível entre o botão e a lista */
}

/* Estilo da lista para não ter margem que cause o fechamento */
.dropdown-menu-static {
    margin-top: 0 !important;
    border-top: 1px solid rgba(255,255,255,0.1);
}

/* 1. Esconde a lista por padrão */
.submenu-lista {
    display: none; /* Escondido por padrão */
    list-style: none;
    padding-left: 1.5rem;
    background-color: rgba(255,255,255,0.05);
}

/* No Desktop: O Mouse manda em tudo */
@media (min-width: 641px) {
    /* Abre se a variável C# for true OU se o mouse estiver em cima */
    .custom-dropdown:hover .submenu-lista,
    .menu-aberto {
        display: block !important;
        position: static;
    }

    /* SEGREDO: Se o mouse SAIR da área total, FORCE o fechamento */
    .custom-dropdown:not(:hover) .submenu-lista {
        display: none !important;
    }
}

/* No Mobile: O Clique manda em tudo */
@media (max-width: 640px) {
    .menu-aberto {
        display: block !important;
        position: static;
    }
}




